/* Ini file css */

main {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
    font-family: Helvetica, Arial, sans-serif;
}

.main-title {
    text-align: center;
}

.main-section {
    padding: 16px;
    background-color: aliceblue;
    border-radius: 4px;
}

.section-celcius {
    padding-top: 10px;
}

.section-fahrenheit {
    padding-top: 10px;
}

.section-kalkulasi {
    padding-top: 10px;
}

.section-explanation {
    padding-top: 10px;
}

textarea {
    width: 75%;
    height: 32px;
    
}

.button-convert {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.button-reset {background-color: #008CBA;}

.button-reverse {background-color: #f44336;}


